
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-image: url(assets/images/contactus-banner.jpg);">
                <div class="page-title-item text-center">
                    <h2 class="title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/'>Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== ABOUT EXPERIENCE PART START ======-->
<div class="about-experience-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="experience-item">
                    <span>10 Years Of Experience</span>
                    <h2 class="title">Not only explore for job done.</h2>
                </div> <!-- experience item -->
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="experience-item">
                    <p>Diyotech provides a solution to every problem in IT industry. Through recent years, Diyotech has worked with clients of all domain. The primary goal of Diyotech is to innovate and help them achieve Client's vision for growth in IT industry.
                            Diyotech has been Backed by a proven track record of success, Diyotech serves more than 100 clients around the world.</p>
                </div> <!-- experience item -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp about" data-wow-duration=".5s" data-wow-delay=".2s">
                <div class="single-experience mt-30">
                    <img src="assets/images/webapp.png" alt="">
                    <div class="experience-overlay">
                        <h5 class="title">Web Applications</h5>
                        <p>Diyotech works Java, Angular, Python experienced professional.</p>
                    </div>
                </div> <!-- single experience -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="single-experience mt-30">
                    <img src="assets/images/ba.jpg" alt="">
                    <div class="experience-overlay">
                        <h5 class="title">Business Analytics</h5>
                        <p>The functional goal of business analytics is to help clients provide insights.</p>

                    </div>
                </div> <!-- single experience -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                <div class="single-experience mt-30">
                    <img src="assets/images/qatesting.jpg" alt="">
                    <div class="experience-overlay">
                        <h5 class="title">QA Testing</h5>
                        <p>QA testing provides a status of a applications.</p>
                    </div>
                </div> <!-- single experience -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== ABOUT EXPERIENCE PART ENDS ======-->
<!--====== ABOUT INTRO PART START ======-->
<div class="about-intro-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="intro-thumb">
                    <img src="assets/images/businessgrowth.jpg" alt="">
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intri-content">
                    <span>Future.....</span>
                    <h2 class="title">How we grow <br> our business.</h2>
                    <p class="text-1">The introduction of modern web app frameworks and technologies into enterprise software.</p>
                    <p class="text-2">whether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained Java frameworks such as Spring and Springboots provide those tools in abundance, allowing maintained Java frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== ABOUT INTRO PART ENDS ======-->

