
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-image: url(assets/images/contactus-banner.jpg);">
                <div class="page-title-item text-center">
                    <h2 class="title">Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/'>Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<!--====== SERVICES ITEM PART START ======-->
<div class="services-item-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/frontend.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-eye-dropper"></i>
                        <h4 class="title">Front End Development</h4>
                        <p>Diyotech provides solutions for Angular, React, Html, Javascript, Css, Bootstrap</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/backend.png" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-gavel"></i>
                        <h4 class="title">Backend  Development</h4>
                        <p>Spring, Springboot, Java, Python, Django framework are commonly used for backednd development.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/fullstack.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-map-marked-alt"></i>
                        <h4 class="title">Full Stack Web Development</h4>
                        <p>Full stack develpment includes backend and frontend develpment including restful web services.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/qatesting.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-hurricane"></i>
                        <h4 class="title">QA Testing</h4>
                        <p>Manual and Automated testing products are referred by Diyotech.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/ba.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-bezier-curve"></i>
                        <h4 class="title">Business Analytics </h4>
                        <p>we provide highly professional consultants for BA to our clients.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/datascience.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-umbrella"></i>
                        <h4 class="title">Data Science</h4>
                        <p>Data science, machine learning, AI is the future of digital world. start your career today.</p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== SERVICES ITEM PART ENDS ======-->

