
<!DOCTYPE html>
<html>
<head>
  <title>Careers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="about-intro-area pt-20"></div>
  <div class="container">



    
    <h2>Career</h2><br/>
    <!-- Your existing content here -->
  </div>
</body>
  
<div class="container">
  <h1>{{jobDetail?.name }}</h1>
  <h2>{{jobDetail?.location }}</h2>
    <p>{{ jobDetail?.jobDesc }}</p>
    <p>{{ jobDetail?.jobResp }}</p>
    
</div>
  
