
<!--====== BANNER PART START ======-->
<div class="banner-active">
    <div class="single-banner bg_cover" style="background-image: url(assets/images/background1.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">IT Business Consulting</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Best IT Solutions <br>Provider Agency</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">DiyoTech provides solutions to modern business requirements. it provides services for Java, Angular, Python, React js and many more new web technologies. contact us today for more details. </p>
                            <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a>
                        </div> <!-- banner content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>
    <!-- <div class="single-banner bg_cover" style="background-image: url(assets/images/banner-bg-1.2.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">IT Business Consulting</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Best IT Soluations <br>Provider Agency</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremda tium totam rem aperiam eaque ipsa quae ab illo inventore veritatis </p>
                            <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>
    </div> -->
    <!-- <div class="single-banner bg_cover" style="background-image: url(assets/images/banner-bg-1.3.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">IT Business Consulting</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Best IT Soluations <br>Provider Agency</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremda tium totam rem aperiam eaque ipsa quae ab illo inventore veritatis </p>
                            <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" routerLink='/services'>Our Services <i class="fal fa-long-arrow-right"></i></a>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>
    </div> -->
</div>
<!--====== BANNER PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="section-title">
                    <span>who we are</span>
                    <h2 class="title">Modern IT staffing solutions</h2>
                </div> <!-- section title -->
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title">
                    <p>Diyotech provides a solution to every problem in IT industry. Through recent years, Diyotech has worked with clients of all domain. The primary goal of Diyotech is to innovate and help them achieve Client's vision for growth in IT industry.
                        Diyotech has been Backed by a proven track record of success, Diyotech serves more than 100 clients around the world.</p>
                </div> <!-- section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-laptop-code"></i>
                    <h5 class="title">IT Solutions</h5>
                    <p>Information Technology solutions is the primary goal of Diyotech.</p>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-fingerprint"></i>
                    <h5 class="title">Security System</h5>
                    <p>DiyoTech proviedes a robust and detail security system solutions to our partners.</p>
                
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-chalkboard"></i>
                    <h5 class="title">Web Development</h5>
                    <p>Web Development support is the key branch of DiyoTech.</p>
                    
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-database"></i>
                    <h5 class="title">Database Security</h5>
                    <p>Database security is important to every project for its sustainability. </p>
                    
                </div> <!-- what we do item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
    <div class="what-we-are-shape-2">
        <img src="assets/images/what-we-are-shape-2.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<!--====== SOLUTION PART START ======-->
<div class="solution-area bg_cover" style="background-image: url(assets/images/solution-bg.jpg);">
    <div class="solution-overlay pt-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="solution-box">
                        <div class="solution-content">
                            <h3 class="title">Get Better Solution For Your Business</h3>
                            <p>We fulfill requirements for Java, python, angular, react, database management, and many more. give us a call for free consultation.</p>
                        </div>
                    </div> <!-- solution box -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== SOLUTION PART ENDS ======-->
<!--====== SERVICES TITLE PART START ======-->
<div class="services-title-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="services-title-item text-center">
                    <div class="ring-shape"></div>
                    <span>Our latest services</span>
                    <h3 class="title">We Offer Best Soluation For Your IT Business</h3>
                </div> <!-- services title item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== SERVICES TITLE PART ENDS ======-->
<!--====== LATEST SERVICES PART START ======-->
<div class="latest-services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/services-4.1.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">QA Testing</h4>
                        <p>We provide a modern testing solution for modern web applicaiton.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/services-4.5.png" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Full Stack Web Development</h4>
                        <p>Diyotech provides the best solution for web applicaitns development including java, Springboot, python, django and many more.</p>
                       
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="3s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/services-4.6.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title"> IT Solution</h4>
                        <p>We provide soulution for your every IT problem. contact us today.</p>

                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== LATEST SERVICES PART ENDS ======-->
<!--====== WHY CHOOSE PART START ======-->
<div class="why-choose-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>why choose us</span>
                    <h2 class="title">We Are Very Different Form Others IT Solutions</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="single-choose text-center mt-30">
                    <div class="icon-box">
                        <span></span>
                        <i class="fal fa-laptop-code"></i>
                    </div>
                    <h4 class="title">Modify Whole System</h4>
                    <p>Convert your old softwares into new technologies. we provide best cost effective solutions for migrations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="single-choose text-center mt-30">
                    <div class="icon-box">
                        <span></span>
                        <i class="fal fa-server"></i>
                    </div>
                    <h4 class="title">Beneficial Strategies</h4>
                    <p>We provide a cost effective solutions and strategies to grow your business.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="single-choose text-center mt-30">
                    <div class="icon-box">
                        <span></span>
                        <i class="fal fa-tools"></i>
                    </div>
                    <h4 class="title">Automated Software</h4>
                    <p>Automation is the key to produce a quality software. contact us today to discuss your needs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-dot">
        <img src="assets/images/choose-dot.png" alt="">
    </div>
    <div class="choose-shape">
        <img src="assets/images/choose-shape.png" alt="">
    </div>
</div>
<!--====== WHY CHOOSE PART ENDS ======-->
<!--====== CONTACT US PART START ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/contactus.jpg)">
    <div class="contact-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <span>contact us</span>
                        <h2 class="title">Join Us To Get Free Consultations</h2>
                    </div> <!-- sevtion title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex">
                        <div class="contact-thumb wow slideInLeft" data-wow-duration=".5s" data-wow-delay="0s">
                            <img src="assets/images/contactus.jpg" alt="">
                        </div>
                        <div class="contact-form-area">
                            <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="input-title">
                                    <h3 class="title">Don't Hesitate To Contact With Us, Say Hello......</h3>
                                </div> <!-- input title -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" name="name" placeholder="Full Name Here">
                                            <i class="fal fa-user"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="email" name="email" placeholder="Email Here" >
                                            <i class="fal fa-envelope-open"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" name="phone_number" placeholder="Phone No" >
                                            <i class="fal fa-phone"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" name="subject" placeholder="Subject">
                                            <i class="fal fa-edit"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <textarea name="#" id="#" cols="30" rows="10" placeholder="Message Us"></textarea>
                                            <i class="fal fa-pencil"></i>
                                            <button class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit">Send Message <i class="fal fa-long-arrow-right"></i></button>
                                        </div> <!-- input box -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- contact details -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== CONTACT US PART ENDS ======-->
<!--====== OUE CHOOSE PART START ======-->
<div class="our-choose-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mt-30">
                    <span>Best agecy for you</span>
                    <h2 class="title">Why Choose Our Solutions</h2>
                </div> <!-- section title -->
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fal fa-long-arrow-right"></i> We Provide Professional Service
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>DiyoTech provides professional services and support for its clients.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fal fa-long-arrow-right"></i> Stay Up, Stay Running & Protected
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Throught support for developing web applicaiton and database securities, Diyotech provides a robust analysis of a system.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fal fa-long-arrow-right"></i> Our Experienced Experts
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Diyotech has been working with more than 100 professional consultants for providing expert support to our clients.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fal fa-long-arrow-right"></i> IT Management
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Not only Web devleopment and quality assuranace, Diyotech also provides a export solution in business analytics area.</p>
                            </div>
                        </div>
                    </div> <!-- card -->
                </div> <!-- accordion -->
            </div>
            <div class="col-lg-6">
                <div class="our-choose-counter-area mt-30">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                <sub><span class="counter">569</span> <sup>+</sup></sub>
                                <span>Project Completed</span>
                                <p>so far, Diyotech has completed numerious projects including financial domain, healthcare, domain, and national security.</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s" data-wow-delay="0s">
                                <sub><span class="counter">782</span> <sup>+</sup></sub>
                                <span>Business Partners</span>
                                <p>Diyotech works closely with our clients and provides professional Consultant as their need.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                <sub><span class="counter">356</span> <sup>+</sup></sub>
                                <span>Happy Clients</span>
                                <p>All of our Clients are satisfied guaranteed as per the information technology needs.</p>
                            </div>
                            <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s" data-wow-delay="0s">
                                <sub><span class="counter">894</span> <sup>+</sup></sub>
                                <span>IT Consultant</span>
                                <p>We provide very professional IT consultants to our clients in the area of web development, Qaulity Assurance, Business Analytics, Database Management, IT security, etc.</p>
                            </div>
                        </div> <!-- our choose counter -->
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== OUE CHOOSE PART ENDS ======-->